
.card{
    border: 1px solid #000;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.card:hover{
box-shadow: 0 0 20px #d18383;}
.btnMainRating{
    display: flex;
    justify-content: space-between;
}
.productImg{
display: flex;
justify-content: center;
align-items: center;
}
.productImg img{
    width: 50%;
    height: 250px;
}
.title {
    height: 50px;
    font-weight: bold;
}
.description{
    height: 80px;
}

